main{
  display: flex;  
  flex-direction: column;

  @include breakpoint-up(medium){
    align-items: center;
  }

  @include breakpoint-up(large){
    flex-direction: row;
    align-items: center;
  }

  >.card:last-child{
    margin-bottom: 0px;
  }
}

.card{
  height: 222px;
  max-width: 350px;
  margin-bottom: 25px;
  position: relative;
  overflow: hidden;
  
  @include breakpoint-up(large){
    height: 250px;
    margin-bottom: 0px;
    flex: 1;
  }

  &__header{
      margin-top: 27px;
      margin-left: 28px;
      padding-bottom: 1px;

      @include breakpoint-up(large){
        margin-left: 32px;
        margin-right: 32px;
        padding-bottom: 6px;
      }
  }

  &__desc{
    margin-left: 29px;
    margin-right: 28px;

    @include breakpoint-up(large){
      margin-left: 32px;
      margin-right: 32px;
    }
  }

  div{
    height: 3.55px;
    width: 100%;
    position: absolute;

    @include breakpoint-up(large){
      height: 4px;
    }

    &::before{
      content: "";
      position: absolute;
      background-size: 100%;
      background-repeat: no-repeat;
      top: 137px;
      left: 72.69%;
      height: 57px;
      width: 57px;

      @include breakpoint-up(large){
        top: 154px;
        left: 72.57%;
        height: 64px;
        width: 64px;
      }
    }
  }

  &--group{
    // this is for when the group is horizontal
    @include breakpoint-up(medium){
      display:flex;
    }
    
    >section{
      @include breakpoint-up(medium){
        flex: 1;
      }
    }

    >section:first-child{
      @include breakpoint-up(medium){
        margin-right: 20px;
      }
    }

    // this is for when the group is vertical
    @include breakpoint-up(large){
      display: block;
      padding-left: 30px;
      padding-right: 30px;
      flex: 1;
    }

    >section:first-child{
      @include breakpoint-up(large){
        margin-bottom: 30px;
        margin-right: 0px;
      }
    }
  }
}