main{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;  
  -webkit-box-orient: vertical;  
  -webkit-box-direction: normal;  
      -ms-flex-direction: column;  
          flex-direction: column;

  @include breakpoint-up(medium){
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  @include breakpoint-up(large){
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  >.card:last-child{
    margin-bottom: 0px;
  }
}

.card{
  height: 222px;
  margin-bottom: 25px;
  max-width: 350px;
  overflow: hidden;
  position: relative;
  
  @include breakpoint-up(large){
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 250px;
    margin-bottom: 0px;
  }

  &__header{
      margin-left: 28px;
      margin-top: 27px;
      padding-bottom: 1px;

      @include breakpoint-up(large){
        margin-left: 32px;
        margin-right: 32px;
        padding-bottom: 6px;
      }
  }

  &__desc{
    margin-left: 29px;
    margin-right: 28px;

    @include breakpoint-up(large){
      margin-left: 32px;
      margin-right: 32px;
    }
  }

  div{
    height: 3.55px;
    position: absolute;
    width: 100%;

    @include breakpoint-up(large){
      height: 4px;
    }

    &::before{
      background-repeat: no-repeat;
      background-size: 100%;
      content: "";
      height: 57px;
      left: 72.69%;
      position: absolute;
      top: 137px;
      width: 57px;

      @include breakpoint-up(large){
        height: 64px;
        left: 72.57%;
        top: 154px;
        width: 64px;
      }
    }
  }

  &--group{
    // this is for when the group is horizontal
    @include breakpoint-up(medium){
      display:-webkit-box;
      display:-ms-flexbox;
      display:flex;
    }
    
    >section{
      @include breakpoint-up(medium){
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
      }
    }

    >section:first-child{
      @include breakpoint-up(medium){
        margin-right: 20px;
      }
    }

    // this is for when the group is vertical
    @include breakpoint-up(large){
      display: block;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      padding-left: 30px;
      padding-right: 30px;
    }

    >section:first-child{
      @include breakpoint-up(large){
        margin-bottom: 30px;
        margin-right: 0px;
      }
    }
  }
}