html{
  box-sizing: border-box;
}

*,*::before,*::after{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body{
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 32px;
  margin-right: 32px;
  min-height: 100vh;
  padding-bottom: 78px;
  padding-top: 85px;
  position: relative;

  @include breakpoint-up(large){
    padding-bottom: 80px;
    padding-top: 80px;
  }
}

footer {
  bottom: 1rem;
  position: absolute;
  text-align: center;
}