html{
  box-sizing: border-box;
}

*,*::before,*::after{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 32px;
  margin-left: 32px;
  padding-top: 85px;
  padding-bottom: 78px;
  color: $VeryDarkBlue;
  background-color: $VeryLightGray;
  position: relative;

  @include breakpoint-up(medium){
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.semi-bold{
  font-weight: 600;
}

.half-opaque{
  opacity: 0.5;
}

footer {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 1rem;

  a {
    color: hsl(228, 45%, 44%);
  }
}