html{
  box-sizing: border-box;
}

*,*::before,*::after{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 32px;
  margin-left: 32px;
  color: $VeryDarkBlue;
  background-color: $VeryLightGray;

  @include breakpoint-up(small){
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}