.head{
  padding-bottom: 76px;
  text-align: center;

  @include breakpoint-up(large){
    min-width: 540px;
    padding-bottom: 64px;
    width: 37.5%;
  }

  &__header{
    padding-bottom: 13px;

    @include breakpoint-up(large){
      padding-bottom: 16px;
    }
  }
}