.head{
  padding-bottom: 4.75rem;
  text-align: center;

  @include breakpoint-up(large){
    min-width: 33.75rem;
    padding-bottom: 4rem;
    width: 37.5%;
  }

  &__header{
    padding-bottom: 0.8125rem;

    @include breakpoint-up(large){
      padding-bottom: 1rem;
    }
  }
}